/* 헤드라인 -메인 콘텐츠 섹션 제목 */
.headline {
  font-size: 0.9375rem;
  font-weight: 600;
}

/* form(input) 입력 서식 */
.form-input {
  display: flex;
  align-items: center;

  /* border-radius: 5px 5px 0 0;
  border-bottom: 2px solid var(--black); */

  label {
    /* width: 4em; */
    /* 영역 축소막기 */
    flex-shrink: 0;
  }

  input {
    border: 1px solid var(--border-color);
    height: 22px;
    line-height: 20px;
    flex: 1;
    /* 마우스 커서 조금 띄우기 */
    padding-left: 0.5em;
    min-width: 0;
  }
}

/* fill 버튼 */
.button-fill {
  background-color: var(--orangered);
  color: var(--white);
  padding: 0;
  border: 0;
  height: 22px;
  border-radius: 3px;
  font-size: 0.75rem;
}

/* 구분선 */
.divider {
  border: 1px solid var(--border-color);
}

/* 아이콘+링크 텍스트 */
.icon-link {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  border-radius: 0 0 5px 5px;

  span {
    color: var(--orangered);
  }
}

/* 더보기 링크 */
.more {
  display: inline-flex;
  gap: 4px;
  align-items: center;

  span {
    color: var(--green);
  }
}

.button-sprite {
  height: 18px;
  width: 19px;
  border: 0;
  padding: 0;
  background: url("./../assets/back_forward.png") no-repeat;
  border-color: var(--white);
}
.button-prev {
  background-position: 0%;
}
.button-next {
  background-position: 100%;
}
