@import "./reset.css";
@import "./theme.css";
@import "./base.css";
@import "./utils.css";

/* 레이아웃 */
/* float vs position */
/* flex vs grid */

.container {
  background-color: var(--yellow);
}

/* 헤더 */
.header {
  background-color: var(--white);
  position: relative;
}

/* 로고 */
.logo {
  background-color: rgb(255, 0, 0, 0.2);
  position: absolute;
  top: 54px;
  left: 28p;
}

/* 텍스트 링크 모음 - 멤버서비스 */
.member-service {
  font-size: 0px;
  text-align: end;
  padding: 8px;
  position: relative;
  /* right: -12px; */

  li {
    display: inline-block;
    font-size: 0.875rem;

    span {
      margin-inline: 0.5em;
    }

    a {
      text-transform: uppercase;
      padding: 4px;
    }
  }
}

/* 메인메뉴 */
.navigation {
}

.menu {
  background: var(--orangered) var(--menu);
  color: var(--white);
}

.visual {
  height: 120px;
}

/* flex layout */
.main {
  background-color: skyblue;
  /* overflow: hidden; */
  /* bfc */
  min-height: 450px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 30px 0;
}

.group {
  flex: 0 1 auto;
}

.group1 {
  background-color: tomato;
  width: 380px;
}
.group2 {
  background-color: violet;
  width: 190px;
}
.group3 {
  background-color: teal;
  width: 250px;

  order: -1;
}

.slogan {
  background-color: lightgreen;
  height: 10vh;
}

.footer {
  background-color: silver;
  height: 10vh;
}
