@import "./reset.css";
@import "./theme.css";

/* 본문 스타일 */
body {
  background-color: var(--white);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 300;
  margin: 0;
  color: var(--content);
}

/* 레이아웃 */
/* float vs position */
/* flex vs grid */

.container {
  background-color: var(--yellow);
}

.layout {
  inline-size: 940px;
  margin-inline: auto;
}

.header {
  background-color: pink;
  block-size: 10vh;
  /* inline-size: 940px; */
  /* border: 10px solid currentcolor; */
  /* padding: 0 50px; */
  /* margin: 0 auto; */
  /* margin-inline: auto; */
}

.visual {
  background-color: orange;
  height: 10vh;
}

/* float layout */
.main {
  background-color: skyblue;
  /* overflow: hidden; */
  /* bfc */
  min-height: 450px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 30px 0;
}

.group {
  flex: 0 1 auto;
}

.group1 {
  background-color: tomato;
  width: 380px;
}
.group2 {
  background-color: violet;
  width: 190px;
}
.group3 {
  background-color: teal;
  width: 250px;

  order: -1;
}

.slogan {
  background-color: lightgreen;
  height: 10vh;
}

.footer {
  background-color: silver;
  height: 10vh;
}
