@import "./reset.css";
@import "./theme.css";
@import "./base.css";
@import "./utils.css";

/* 레이아웃 */
/* float vs position */
/* flex vs grid */

.container {
  background-color: var(--yellow);
}

/* 헤더 */
.header {
  background-color: var(--white);
  position: relative;
  padding-inline: 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo {
  background-color: rgb(255, 0, 0, 0.2);
  position: absolute;
  top: 38px;
  left: 60px;
}

/* 텍스트 링크 모음 - 멤버서비스 */
.member-service {
  font-size: 0px;
  text-align: end;
  padding: 8px;
  position: relative;
  /* right: -12px; */

  li {
    display: inline-block;
    font-size: 0.875rem;

    span {
      margin-inline: 0.5em;
    }

    a {
      text-transform: uppercase;
      padding: 4px;
    }
  }
}

/* 메인메뉴 */
.navigation {
  padding-bottom: 50px;
}

.menu {
  background: var(--orangered) var(--menu);
  box-shadow: 0 -2px 0 0 var(--black);
  height: 45px;
  padding-left: 225px;

  > li {
    float: left;
    height: 100%;

    .menu-button {
      color: var(--white);
      font-size: 0.9375rem;
      font-weight: 700;
      background: transparent;
      padding: 0 15px;
      height: 100%;
      line-height: 45px;
      display: block;
      border: 0;
      border-left: 2px solid var(--white);
      align-content: center;
      text-shadow: 1px 1px 2px var(--black), -1px -1px 2px var(--black);
    }
  }

  > li.is-active {
    .menu-button {
      color: var(--yellow);
    }

    .menu-button::after {
      content: "";
      display: block;
      border-top: 2px solid var(--black);
    }
  }

  .sub-menu {
    background-color: violet;
    position: absolute;
    /* display: none; */
  }
}

.visual {
  height: 120px;
}

/* flex layout */
.main {
  background-color: skyblue;
  /* overflow: hidden; */
  /* bfc */
  min-height: 450px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 30px 0;
}

.group {
  flex: 0 1 auto;
}

.group1 {
  background-color: tomato;
  width: 380px;
}
.group2 {
  background-color: violet;
  width: 190px;
}
.group3 {
  background-color: teal;
  width: 250px;

  order: -1;
}

.slogan {
  background-color: lightgreen;
  height: 10vh;
}

.footer {
  background-color: silver;
  height: 10vh;
}
